<a href="https://colab.research.google.com/github/julisapuyes588-cell/bigdata_cesmag/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
nombre = input ("cual es tu nombre")
print ("hola, mucho gusto", nombre)

cual es tu nombre Juli
hola, mucho gusto  Juli

In [5]:
import random
numero_persona = int (input("dame un numero"))
numero_maquina = random. randint (1,3)
print ("El numero de la persona es:", numero_persona)
print ("El numero de la maquina:", numero_maquina)
if numero_persona == numero_maquina:
  print ("Ha ganado la maquina, Matrix")
else:
  print ("Ha ganado la persona")

dame un numero2
El numero de la persona es: 2
El numero de la maquina: 1
Ha ganado la persona

In [6]:
import random

numero_persona = int(input("Dame un número (1, 2 o 3): "))
numero_maquina = random.randint(1, 3)

print("El número de la persona es:", numero_persona)
print("El número de la máquina es:", numero_maquina)

# Verificación de par o impar para el número de la persona
if numero_persona % 2 == 0:
    print(f"El número de la persona ({numero_persona}) es par.")
else:
    print(f"El número de la persona ({numero_persona}) es impar.")

# Verificación de par o impar para el número de la máquina
if numero_maquina % 2 == 0:
    print(f"El número de la máquina ({numero_maquina}) es par.")
else:
    print(f"El número de la máquina ({numero_maquina}) es impar.")

# Lógica del juego
if numero_persona == numero_maquina:
    print("Ha ganado la persona!")
else:
    print("Ha ganado la máquina.")

Dame un número (1, 2 o 3): 2
El número de la persona es: 2
El número de la máquina es: 1
El número de la persona (2) es par.
El número de la máquina (1) es impar.
Ha ganado la máquina.

In [10]:
import codecs

def cifrar_rot13(mensaje):
    return codecs.encode(mensaje, 'rot_13')

def descifrar_rot13(mensaje_cifrado):
    return codecs.decode(mensaje_cifrado, 'rot_13')

# Ejemplo de uso
mensaje = input("Introduce el mensaje a cifrar: ")

# Cifrado
mensaje_cifrado = cifrar_rot13(mensaje)
print("Mensaje cifrado con ROT13:", mensaje_cifrado)

# Descifrado
mensaje_descifrado = descifrar_rot13(mensaje_cifrado)
print("Mensaje descifrado con ROT13:", mensaje_descifrado)

Introduce el mensaje a cifrar: hola juli
Mensaje cifrado con ROT13: ubyn whyv
Mensaje descifrado con ROT13: hola juli

In [ ]:
import codecs
## implementar md5

mensaje

In [19]:
import pandas as pd

ruta_archivo= "/content/sample_data/california_housing_test.csv"

datos = pd.read_csv(ruta_archivo)
datos.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1468,-122.29,37.91,46.0,2085.0,346.0,748.0,354.0,4.0536,262000.0
2616,-121.42,38.49,17.0,13180.0,2444.0,7235.0,2335.0,3.3630,103000.0
1445,-122.35,40.56,16.0,2801.0,614.0,1695.0,563.0,1.9000,81600.0
1748,-122.09,37.21,15.0,1969.0,332.0,822.0,324.0,7.8774,394900.0
43,-117.27,34.09,36.0,848.0,186.0,737.0,169.0,0.9838,79300.0

In [30]:
import pandas as pd

ruta_archivo= "/content/compras_semana.csv"

datos = pd.read_csv(ruta_archivo)
datos ['total'] = datos ['precio'] + datos ['cantidad']

promedio_compras = datos['total'].mean()

compra_minima = datos ['total']. min()
print ("compra minima: " , compra_minima)



datos ['total']. describe ()

compra minima:  3.2

count    10.000000
mean      5.070000
std       1.963019
min       3.200000
25%       3.575000
50%       4.650000
75%       5.725000
max       9.500000
Name: total, dtype: float64

In [31]:
import pandas as pd

ruta_archivo= '/content/peliculas_favoritas.json'
datos=pd.read_json(ruta_archivo)
datos

                titulo   año  puntuacion  duracion_minutos           genero
0  El viaje de Chihiro  2001         8.9               125        Animación
1     La vida es bella  1997         8.6               116            Drama
2         Pulp Fiction  1994         8.5               154           Crimen
3               Matrix  1999         8.7               136  Ciencia ficción
4         Forrest Gump  1994         8.8               142            Drama
5            Inception  2010         8.8               148  Ciencia ficción

In [32]:
datos.describe ()

               año  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000